@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(16, 22, 48);
}

body{
  padding-top: 90px;
  padding-left: 100px;
  padding-right: 150px;
}

.mlo-logo {
  animation: fade-in 3s
}

.mlo-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navigation-bar {
  margin: -25px;
  background-color: rgb(16, 22, 48);
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  height: 50px;
}

.navigation-bar > button > a {
  text-decoration: none;
  color: white;
}

.nav-aside {
  gap: 50px;
  display: flex;
  list-style: none;  
  transition: transform 0.4s ;
  animation: fade-in 3s
}

.nav-aside > li > a:hover {
  color: #4D97D6;
  padding: 1rem;
  transform: scale(1.2);
  font-size: large;
  transition: 0.2s;
  cursor: pointer;
  transform: scale(1.1);
  font-weight: 600;
}


.nav-aside > li > a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #ffffff;
  transform: scale(1.1);
}

.contact {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #4D97D6;
  padding: 18px 40px;
  border-radius: 15px;
  text-decoration: none;
  list-style: none;
  transition: transform 0.4s ;
  animation: fade-in 3s
}

.contact:hover {
  transition: 0.2s;
  font-size: large;
  transform: scale(1.1);
  cursor: pointer;
  font-weight: 600;
}

.contact > a {
  text-decoration: none;
  color: white;
  background-color: #4D97D6;
  padding: 1rem;
}

.word { 
  margin-top: 100px;
  animation: fade-in 3s;
  margin-bottom: 50px;
}
.one {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color:rgb(127, 133, 133);
}

.two {
  font-family: 'Nocturne Serif', serif;
  width: 900px;
  font-size: 120px;
  color: white;
  line-height: 90px;
  font-variant: small-caps;
}

.fullstop {
  font-size: 130px;
  color: #4D97D6;
}

.pprojet {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #4D97D6;
  padding: 20px 40px;
  border-radius: 15px;
  text-decoration: none;
  width: 250px;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  transition: transform 0.4s;
  margin-bottom: 250px;
}

.pprojet:hover {
  color:  rgb(16, 22, 48);
  transition: 0.2s;
  transform: scale(1.1);
  cursor:pointer;
  font-weight: 600;
}

.link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: #4D97D6;
  color: #ffffff;
}

.about-me {
  display: flex;
  gap: 70px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.about-content h1 {
  margin-bottom: 30px;
}
.about-content p {
  color: rgb(186, 186, 186);
  width: 500px;
}

.imgnframe img {
  border-radius: 8px;
  position: absolute;
  top: -50px;
  left: 0px;
}

.imgnframe {
  position: relative;
}

.frame {
    height: 500px;
    width: 400px;
    background: rgb(16, 22, 48);
    border: 15px solid #4D97D6;
    border-radius: 8px;
    margin-left: 40px;
}

.aboutbuttons {
  display: flex;
  gap: 25px;
  margin-top: 60px;
}
.aboutbuttons button {
  width: 200px;
  height: 70px;
  border-radius: 8px;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
}

.btnabout1 {
  background-color: #4D97D6;
  border: none;
}
.btnabout2 {
  background: transparent;
  border: 1px solid #4D97D6;
}

.portfolio {
  margin-top: 150px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.pfheader {
  text-align: center;
  margin-bottom: 150px;
  font-size: 30px;
}

.projects p {
  width: 500px;
}

.projects {
  justify-content: space-between;
  display: flex;
  gap: 50px;
  margin-bottom: 200px;
}

.projectnumber {
  margin-bottom: 20px;
  color: #4D97D6;
  font-weight: 200;
  font-size: 30px;
}

.project-frame {
  height: 300px;
  width: 450px;
  background: rgb(16, 22, 48);
  border: 15px solid #4D97D6;
  border-radius: 8px;
}

.project-name {
  color: #ffffff;
  margin-bottom: 20px;
}

.project-framenimage{
  position: relative;
  /* margin-right: 50px; */
}

.project-img{
  position: absolute;
  top: -50px;
  left: 35px;
}

.read-more{
  margin-top: 20px;
}

.read-more a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}